<div class="header">
  <h1 class="header">Recipes</h1>
  <a href="/articles/new">Create New Recipe</a>
</div>
<div class="index">
  <ul>
    <% @articles.each do |article| %>
      <li>
      <img class="thumbnail" src="<%= article.img_url %>">
      <a href="/articles/<%= article.id %>"><%= article.title %></a>
      </li>
       <% end %>
  </ul>
</div>
<div class="footer">
  <a href="/">Home</a>
  <a href="/users">Chefs</a>
  <a href="/categories">Tags</a>
</div>