<h1>Recipes tagged with <%= @category.name %> </h1>
<ul>

<% if @articles %>
<ul>
  <% @articles.each do | article | %>
    <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
  <% end %>
</ul>
<% else %>
<h1>None</h1>
<% end %>
