<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Henrietta's Secret Sauce</title>
  <script src="/js/jquery-1.11.3.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="wrapper">
  <%= yield %>
  </div>
</body>
</html>