<h1>New Category</h1>

<form action="/articles/<%= @article.id %>/categories" method="POST">
  <label for="name">Name:</label>
  <input type="name" name="name" id="name">
  <button>Create Tag</button>
</form>