  <div class="cover">
    <img src="http://static01.nyt.com/images/2015/12/06/magazine/06feasts-newsletter/06mag-06feasts-t_CA4-superJumbo.jpg">
  </div>
  <div class="login">
    <h1>Join us!</h1>
    <form action="/users" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <br>
      <label for="location">Location:</label>
      <input type="text" name="location" id="location">
      <br>
      <label for="avatar">Photo URL:</label>
      <input type="text" name="avatar_img_url" id="avatar_img_url">
      <br>
      <button>Sign up</button>
    </form>
  </div>
