<h1>New Recipe</h1>

<form action="/articles" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients" id="ingredients">
  <label for="directions">Directions:</label>
  <input type="text" name="directions" id="directions">
<!--   <label for="categories">Categories:</label>
  <input type="text" name="categories" id="categories"> -->
  <label for="img_url">Photo URL:</label>
  <input type="text" name="img_url" id="img_url">
  <button>Create Recipe</button>
</form>

