<div class="new-recipe">

<h1>New Recipe</h1>

<form action="/articles" method="POST">
  <label for="title">Title:</label>
  <br>
  <input type="text" name="title" id="title">
  <br>
  <label for="ingredients">Ingredients: (markdown enabled)</label>
  <br>
  <textarea rows="10" cols="100" type="text" name="ingredients" id="ingredients"></textarea>
  <br>
  <label for="directions">Directions: (markdown enabled)</label>
  <br>
  <textarea rows="10" cols="100" type="text" name="directions" id="directions"></textarea>
  <br>
  <label for="img_url">Photo URL:</label>
  <br>
  <input type="text" name="img_url" id="img_url">
  <br>
  <button>Create Recipe</button>
  <br>
</form>
  <div class="footer">
    <a href="/">Home</a>
    <a href="/articles">All Recipes</a>
    <a href="/users">Chefs</a>
    <a href="/categories">Tags</a>
  </div>
</div>

