body {
  font-family: helvetica;
  background-color: honeydew;
}

.cover {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.cover img {
  position: absolute;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.login {
  position: relative;
  top: 200px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: rgba(255,255,255,0.5)
}

.login form {
  margin: 12px;
  font-size: 18px;
  border: black;
}

.login button {
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 18px;
}

h1 {
  font-size: 48px;
}

ul {
  list-style: none;
}

.avatar {
  margin: 20px;
  position: relative;
  max-height: 200px;
/*  display: inline;*/
  border-radius: 8px;
}

.footer {
  background-color: honeydew;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
  font-style: bold;
}

.footer li {
  display: inline;

}

.greeting {
  text-align: center;
}

.home {
  position: relative;
  margin: 0 auto;
  width: 70%;
}

p {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  font-size: 24px;
}

li {
  display: inline;
}

.profile {
  background-color: white;
  min-height: 300px;
  font-size: 24px;
}

.col {
  float: left;
  width: 33%;
}

.profile ul li {
  font-size: 12px;
  display: block;
}

h3 {
  font-size: 18px;
}

.index ul li {
  font-size: 18px;
  display: block;
  text-align: left;
}

.med {
  max-width: 100px;
  max-height: 100px;
  display: block;
}

#article-img {
  max-width: 400px;
  max-height: 400px;
  display: inline;
  position: relative;
  float: left;
  margin-right: 12px;
}

.credits p h3 {
  display: block;
  text-align: left;
}

.thumbnail {
  max-height: 100px;
  max-width: 100px;
  display: block;
}
